/*! Base Start */


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Roboto:wght@300&display=swap');

/* font-family: 'Jost', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    overflow-x: hidden;
}

ul,
ol {

    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;
    color: black;

}


h1,
h2,
h3,
h4,
h5,
h6,
p {

    margin: 0;
    padding: 0;

}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

}

section .container {

    max-width: 1200px;
    width: 100%;


}

input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

.img-fluid {
    width: 100%;
}



/*! Base End */

@media (max-width: 1200px) {
    .header-row {
        padding: 0 20px;
    }

    .header-center .navigation .menu-list {
        flex-wrap: wrap;
        column-gap: 20px;
    }
}

@media (max-width: 992px) {
    .header-row {
        padding: 0 20px;
    }

    .header-center .navigation .menu-list {
        flex-wrap: wrap;
        column-gap: 10px;
    }
}